:root {
    --bg: #0f0f0f;
    --fg: #eeefff;
    --accent: #ced0ff;

    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,24,1.333,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Step 0: 18px → 24px */
    --step-0: clamp(1.125rem, 0.9716rem + 0.6818vw, 1.5rem);
    /* Step 1: 21.6px → 31.992px */
    --step-1: clamp(1.35rem, 1.0843rem + 1.1809vw, 1.9995rem);
    /* Step 2: 25.92px → 42.6453px */
    --step-2: clamp(1.62rem, 1.1924rem + 1.9006vw, 2.6653rem);
    /* Step 3: 31.104px → 56.8462px */
    --step-3: clamp(1.944rem, 1.2858rem + 2.9253vw, 3.5529rem);
    /* Step 4: 37.3248px → 75.776px */
    --step-4: clamp(2.3328rem, 1.3497rem + 4.3695vw, 4.736rem);
    /* Step 5: 44.7898px → 101.0094px */
    --step-5: clamp(2.7994rem, 1.3619rem + 6.3886vw, 6.3131rem);

    /* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1240,24,1.333,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Space 3xs: 5px → 6px */
    --space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
    /* Space 2xs: 9px → 12px */
    --space-2xs: clamp(0.5625rem, 0.4858rem + 0.3409vw, 0.75rem);
    /* Space xs: 14px → 18px */
    --space-xs: clamp(0.875rem, 0.7727rem + 0.4545vw, 1.125rem);
    /* Space s: 18px → 24px */
    --space-s: clamp(1.125rem, 0.9716rem + 0.6818vw, 1.5rem);
    /* Space m: 27px → 36px */
    --space-m: clamp(1.6875rem, 1.4574rem + 1.0227vw, 2.25rem);
    /* Space l: 36px → 48px */
    --space-l: clamp(2.25rem, 1.9432rem + 1.3636vw, 3rem);
    /* Space xl: 54px → 72px */
    --space-xl: clamp(3.375rem, 2.9148rem + 2.0455vw, 4.5rem);
    /* Space 2xl: 72px → 96px */
    --space-2xl: clamp(4.5rem, 3.8864rem + 2.7273vw, 6rem);
    /* Space 3xl: 108px → 144px */
    --space-3xl: clamp(6.75rem, 5.8295rem + 4.0909vw, 9rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 5px → 12px */
    --space-3xs-2xs: clamp(0.3125rem, 0.1335rem + 0.7955vw, 0.75rem);
    /* Space 2xs-xs: 9px → 18px */
    --space-2xs-xs: clamp(0.5625rem, 0.3324rem + 1.0227vw, 1.125rem);
    /* Space xs-s: 14px → 24px */
    --space-xs-s: clamp(0.875rem, 0.6193rem + 1.1364vw, 1.5rem);
    /* Space s-m: 18px → 36px */
    --space-s-m: clamp(1.125rem, 0.6648rem + 2.0455vw, 2.25rem);
    /* Space m-l: 27px → 48px */
    --space-m-l: clamp(1.6875rem, 1.1506rem + 2.3864vw, 3rem);
    /* Space l-xl: 36px → 72px */
    --space-l-xl: clamp(2.25rem, 1.3295rem + 4.0909vw, 4.5rem);
    /* Space xl-2xl: 54px → 96px */
    --space-xl-2xl: clamp(3.375rem, 2.3011rem + 4.7727vw, 6rem);
    /* Space 2xl-3xl: 72px → 144px */
    --space-2xl-3xl: clamp(4.5rem, 2.6591rem + 8.1818vw, 9rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    line-height: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: var(--space-s)
}

h1 {
    font-size: var(--step-5)
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--step-1);
}

ul {
    padding: 0;
}

li {
    font-size: inherit;
    list-style-type: none;
    margin: 0;
    border-bottom: 2px solid #573be5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(even) {
    background-color: #0d0a1c;
}

details {
    width: 100%;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.code {
    font-size: 1rem;
}

a:hover {
    color: var(--bg);
    background-color: var(--accent);
}
