body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.helper {
    border: 2px solid red;
}

container {
    width: 40%;
}

main {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin: 0;
}

h2 {
    color: #4ADF86;
}

.accent-header {
    color: #4ADF86;
}

#generate-passwd {
    background-color: #4ADF86;
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    margin: 15px 0 15px 0;
}

#generate-passwd:hover {
    cursor: pointer;
    background-color: #34D399;
}

.generated-passwd {
    background-color: #273549;
    color: #55F991;
    border-radius: 6px;
    padding: 10px 15px;
    flex: 1 1 200px; /* This means: grow, shrink, and min-width of 200px */
    word-break: break-all;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#passwords {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
