* {
    box-sizing: border-box;
    margin: 0;
}

/* @link https://utopia.fyi/type/calculator?c=360,20,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    /* Step -1: 16.6667px → 19.2px */
    --step--1: clamp(1.0417rem, 0.9769rem + 0.2879vw, 1.2rem);
    /* Step 0: 20px → 24px */
    --step-0: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
    /* Step 1: 24px → 30px */
    --step-1: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
    /* Step 2: 28.8px → 37.5px */
    --step-2: clamp(1.8rem, 1.5776rem + 0.9886vw, 2.3438rem);
    /* Step 5: 49.7664px → 73.2422px */
    --step-5: clamp(3.1104rem, 2.5102rem + 2.6677vw, 4.5776rem);

    /* @link https://utopia.fyi/space/calculator?c=360,20,1.2,1240,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Space 3xs: 5px → 6px */
    --space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
    /* Space 2xs: 10px → 12px */
    --space-2xs: clamp(0.625rem, 0.5739rem + 0.2273vw, 0.75rem);
    /* Space xs: 15px → 18px */
    --space-xs: clamp(0.9375rem, 0.8608rem + 0.3409vw, 1.125rem);
    /* Space s: 20px → 24px */
    --space-s: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
    /* Space m: 30px → 36px */
    --space-m: clamp(1.875rem, 1.7216rem + 0.6818vw, 2.25rem);

    --blue: #293264;
}

body {
    background: #f5f7fb;
    font-family: "Karla";
    font-size: var(--step--1);
    color: var(--blue);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 93rem;
    margin: auto;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-inline-size: 0;
    padding-block-end: var(--space-s);
}

hr {
    border-color: #DBDEF0;
    margin-block-start: 0;
    margin-block-end: var(--space-s);
}

legend {
    padding-block-end: var(--space-2xs);
    margin: 0;
    font-size: var(--step-1);
    font-weight: bold;
}

.option input {
    appearance: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.option {
    display: inline-block;
    padding: 6px 14px;
    margin: var(--space-3xs);
    border: 2px solid var(--blue);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.option:has(input:checked) {
    padding: 8px 16px;
    background-color: #D6DBF5;
    border: none;
}

label.correct {
    padding: 8px 16px !important;
    background-color: #94D7A2 !important;
    opacity: 100% !important;
}

label.incorrect {
    padding: 8px 16px !important;
    background-color: #F8BCBC !important;
}

label.answered {
    opacity: 50%;
}

.final {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--step-1)
}

.score {
    font-weight: bold;
}

.check {
    margin: auto;
}

button {
    background-color: #4D5B9E;
    color: white;
    font: inherit;
    font-size: var(--step--1);
    padding: var(--space-2xs) var(--space-m);
    border: none;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

.start {
    text-align: center;
    font-size: var(--step-0)
}

.start h1 {
    font-size: var(--step-5);
    margin-block-end: var(--space-m);
}

.start button {
    margin-block-start: var(--space-s);
    font-size: var(--step-2);
    padding: var(--space-xs) var(--space-m);
}
