body {
    margin: 0;
    background-color: #1B244A;
}

.helper {
    border: 3px solid red;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.scoreboard {
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}

.points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    width: 155px;
}

.points > button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    height: 45px;
    width:45px;
    color: #9AABD8;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    cursor: pointer;
}

.header-points {
    font-family: 'Verdana', sans-serif;
    font-size: 36px;
    color: #EEEEEE;
}

h3 {
    margin-bottom: 10px;
}
