body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#converter {
  max-width: 35%;
  min-width: 35%;
}

#header {
  background-color: #6943ff;
  color: white;
  font-weight: bold;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    margin: 0;
  }
}

#results {
  background-color: #f4f4f4;
  color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
  .result {
    background-color: white;
    width: 90%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  h3 {
    margin: 0;
    color: #5a537b;
  }
}

#input-unit {
  width: 20%;
  height: 30%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: inherit;
  appearance: textfield;
  background-color: inherit;
  border: 3px solid #b295ff;
  border-radius: 5px;
}

#convert-btn {
  display: block;
  background-color: white;
  width: 20%;
  color: #3d3d3d;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
}

#convert-btn:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

#convert-btn:active {
  color: white;
  background-color: #b295ff;
}

