:root {
    /* @link https://utopia.fyi/type/calculator?c=360,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Step -2: 11.52px → 11.2556px */
    --step--2: clamp(0.7035rem, 0.7268rem + -0.03vw, 0.72rem);
    /* Step -1: 14.4px → 15.0038px */
    --step--1: clamp(0.9rem, 0.8846rem + 0.0686vw, 0.9377rem);
    /* Step 0: 18px → 20px */
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    /* Step 1: 22.5px → 26.66px */
    --step-1: clamp(1.4063rem, 1.2999rem + 0.4727vw, 1.6663rem);
    /* Step 2: 28.125px → 35.5378px */
    --step-2: clamp(1.7578rem, 1.5683rem + 0.8424vw, 2.2211rem);
    /* Step 3: 35.1563px → 47.3719px */
    --step-3: clamp(2.1973rem, 1.8849rem + 1.3881vw, 2.9607rem);
    /* Step 4: 43.9453px → 63.1467px */
    --step-4: clamp(2.7466rem, 2.2556rem + 2.182vw, 3.9467rem);
    /* Step 5: 54.9316px → 84.1745px */
    --step-5: clamp(3.4332rem, 2.6855rem + 3.3231vw, 5.2609rem);

    /* @link https://utopia.fyi/space/calculator?c=360,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    /* Space 3xs: 5px → 5px */
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    /* Space 2xs: 9px → 10px */
    --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    /* Space xs: 14px → 15px */
    --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    /* Space s: 18px → 20px */
    --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    /* Space m: 27px → 30px */
    --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    /* Space l: 36px → 40px */
    --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    /* Space xl: 54px → 60px */
    --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    /* Space 2xl: 72px → 80px */
    --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    /* Space 3xl: 108px → 120px */
    --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 5px → 10px */
    --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    /* Space 2xs-xs:s* Space s-m: 18px → 30px */
    --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    /* Space m-l: 27px → 40px */
    --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    /* Space l-xl: 36px → 60px */
    --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    /* Space xl-2xl: 54px → 80px */
    --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    /* Space 2xl-3xl: 72px → 120px */
    --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

    /* Custom pairs */
    /* Space s-l: 18px → 40px */
    --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
    /* Space s-3xl: 18px → 120px */
    --space-s-3xl: clamp(1.125rem, -1.483rem + 11.5909vw, 7.5rem);
    /* Space 2xl-l: 72px → 40px */
    --space-2xl-l: clamp(2.5rem, 5.3182rem + -3.6364vw, 4.5rem);
    /* Space 3xl-4xl: 108px → 280px */
    --space-3xl-4xl: clamp(6.75rem, 2.3523rem + 19.5455vw, 17.5rem);
    /* Space m-4xl: 27px → 280px */
    --space-m-4xl: clamp(1.6875rem, -4.7812rem + 28.75vw, 17.5rem);

    /* @link https://utopia.fyi/grid/calculator?c=360,18,1.25,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-3xl&g=s,l,xl,12 */
    --grid-max-width: 65.00rem;
    --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.4032rem + 3.2258vw, 2.5rem));
    --grid-columns: 10;
}

@font-face {
    font-family: "Alegreya";
    src: url('./fonts/alegreya-latin-variable-wghtOnly-normal.woff2') format('woff2');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya";
}

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
}

h1 {
    margin: 0;
    padding: var(--space-s-3xl) var(--space-s-m);
    font-size: var(--step-5);
}

header a {
    font-size: var(--step-1);
    color: white;
    padding-right: var(--space-s-m);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./imgs/header-background.jpg");
    background-position: center;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: var(--step-0);
}

.search {
    width: 100%;
    max-width: 52.50rem;
    height: 44px;
    padding-inline: var(--grid-gutter);
    display: flex;
    align-items: flex-start;
    position: absolute;
    transform: translateY(-50%);
}

.search input {
    flex: 1;
    min-width: 0;
}

.search label svg {
    width: var(--space-s);
    height: var(--space-s);
    padding: var(--space-2xs) 0;
    padding-left: var(--space-xs);
    fill: #A5A5A5;
}

.search label {
    background-color: #2E2E2F;
    height: 100%;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
}

.search button {
    height: 100%;
    background-color: #4B4B4B;
    font-size: inherit;
    color: #A5A5A5;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0 var(--space-xs);
}

.search button:hover {
    cursor: pointer;
    color: white;
}

.search button:active {
    transform: translateY(4px);
}

#search-movie {
    background-color: #2E2E2F;
    border: none;
    padding: var(--space-2xs) var(--space-s);
    color: #A5A5A5;
    font-size: inherit;
    height: 100%;
    box-sizing: border-box;
}

#movies {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    padding: var(--space-xl-2xl) 0;
    justify-content: center;
}

.info {
    padding: var(--space-s-m) 0;
    margin-left: var(--space-s-m);
}

.movie {
    display: flex;
    color: white;
}

hr {
    width: 100%;
    background-color: #A5A5A5;
    margin-block: 30px;
}

.movie h2, .movie p {
    margin-top: 0;
}

.movie .title, .movie .runtime, .movie .rating {
    display: flex;
    justify-content: space-between;
}

.movie .title h2, .movie .title p {
    margin-bottom: 0;
}

.movie .director {
    font-size: var(--step--1)
}

.movie img {
    width: var(--space-m-4xl)
}

.movie button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 1em;
    display: block;
}

.movie svg {
    fill: white;
    width: 16px;
    height: 16px;
}

.plot {
    color: #A5A5A5;
    font-size: var(--step-1)
}
